[Unit]
Description=Telegram Yandex.Disk Bot
After=docker.service
BindsTo=docker.service

[Service]
User=admin
Group=admin
TimeoutStartSec=0
TimeoutStopSec=30
Restart=always
RestartSec=10
Environment="PWD=/home/admin/tg-yd-bot/current"
WorkingDirectory=/home/admin/tg-yd-bot/current/
ExecStart=/usr/bin/docker compose -f /home/admin/tg-yd-bot/current/docker-compose.yml up --no-recreate tg-yd-bot
ExecStop=/usr/bin/docker compose -f /home/admin/tg-yd-bot/current/docker-compose.yml down
NotifyAccess=all

[Install]
WantedBy=multi-user.target
